*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
