---

---

<section class="purpose">
  <h2>Craftconnect is The <span class="purpose__text-highlighted">only Danish platform</span> focused on craftsmen,
    <span class="purpose__text-highlighted">we connect.</span>
  </h2>
</section>

<style lang="css">
.purpose {
  display: flex;
  justify-content: center;
  padding-inline: var(--space-sm);
  margin-bottom: 12.5rem;
}

.purpose > h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black);
  line-height: var(--lh-sm);
  text-align: center;
  max-width: 62.5rem;
}

.purpose__text-highlighted {
  color: var(--clr-bordeaux-500);
}

@media screen and (max-width: 768px) {
  .purpose > h2 {
    font-size: var(--fs-md);
  }

  .purpose {
    margin-bottom: 6.25rem;
  }
}
</style>